@import "variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $font;
  font-size: $font-size;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $margin-between;
  width: ($size-width+$margin-between)*$week;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.calendar > div {
  height: $size-height;
  width: $size-width;
  border: 1px solid black;
  background-color: $color;
}

@for $i from 1 through 31 {
  .calendar > div:nth-child(#{$i}):before {
    content: "#{$i}";
    display: flex;
    justify-content: center;
    line-height: $size-height;
  }
}

@each $i in $date-disappear {
  .calendar-#{$i} > div:nth-child(n+#{$i+1}) {
    display: none;
  }
}

@each $day, $number in $days {
  .calendar-#{$day} > div:first-child {
    margin-left: ($size-width+$margin-between)*$number;
  }
}

.calendar > div:hover {
  background-color: pink;
  cursor: pointer;
  transform: translate(0, -20px);
  transition: transform, 0.5s;
}
